<section>
  <br>
  <div>
    <h2>If you see this, that means you've set up the Repo right! Go Devon!! </h2>
    <h2> Journey to the past </h2>
    <p>To change the MAIN core page (which will be index.html, check out views/home.client.view.html)</p>
    <p>This sample application tracks users and articles.</p>
    <ul>
      <li>
        Click
        <em>Sign Up</em> to get started.
      </li>
      <li>
        Configure your app to work with your social accounts, by editing the
        <em>/config/env/*.js</em> files.
      </li>
      <li>
        Edit your users module.
      </li>
      <li>
        Add new CRUD modules.
      </li>
    </ul>
  </div>

</section>
