<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
       Travel U and Me or Whatever We'll Name This, Place Pretty Graphic Here
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Description of a Thing Goes Here
      </p>
    </div>

  </div>
  <div>
    <h2>This is the core view. No matter what I change everything will be the same here, no matter whether or not the person logs in or not</h2>
    <p>To change the MAIN core page (which will be index.html, check out views/home.client.view.html)</p>
    <p>This sample application tracks users and articles.</p>
    <ul>
      <li>
        Click
        <em>Sign Up</em> to get started.
      </li>
      <li>
        Configure your app to work with your social accounts, by editing the
        <em>/config/env/*.js</em> files.
      </li>
      <li>
        Edit your users module.
      </li>
      <li>
        Add new CRUD modules.
      </li>
    </ul>
  </div>

</section>
